<div class="yoast_newsletter_subscription">
  <p><strong>{% trans % }Yoast SEO for Drupal newsletter{% endtrans % }</strong></p>
  <p>{% trans %}Our newsletter contains loads of tips and tricks about how to optimize your SEO{% endtrans %}.
  &nbsp; <a href="{{ newsletter_link }}" target="_blank">{% trans %}Subscribe here{% endtrans %}</a>.</p>
</div>
