<div id="{{ overall_score_target_id }}" class="overallScore {{ overall_score }}">
    <div class="score_circle">
    </div>
    <span class="score_title">
        {% trans %}SEO{% endtrans %}: <strong>{{ overall_score }}</strong>
    </span>
</div>