<div id="{{ wrapper_target_id }}">
    <div id="{{ wpseo_meta }}"></div>
    <label>{% trans %}Snippet editor{% endtrans %}</label>
    <div id="{{ snippet_target_id }}"></div>
    <label>{% trans %}Content analysis{% endtrans %}</label>
    <div id="{{ output_target_id }}"></div>
</div>
<div id="yoast-seo-overall-score"></div>
